/*
Styles for the about section
*/
    .card1 {
        width: 250px;
        height: 225px;
        background: url("../img/about1.PNG") no-repeat;
        display: inline-block;
    }
    .card1:hover {
        width: 250px;
        height: 225px;
        background: url("../img/about2.PNG") no-repeat;
    }
