/*
Styles for the about section
*/
    .card1 {
        width: 130px;
        height: 195px;
        background: url("images/about1.PNG") no-repeat;
        display: inline-block;
    }
    .card1:hover {
        background: url("images/about2.PNG") no-repeat;
    }
