/*
Color change styles
*/
.colorChange{      
      -webkit-animation:colorchange 30s infinite alternate;     
    }

    @-webkit-keyframes colorchange {
      0% {        
        color: red;
      }      
      10% {        
        color: orange;
      }      
      20% {        
        color: purple;
      }      
      30% {        
        color: blue;
      }      
      40% {        
        color: purple;
      }      
      50% {        
        color: orange;
      }      
      60% {        
        color: red;
      }      
      70% {        
        color: orange;
      }
      80% {     
        color: purple;
      }      
      90% {     
        color: blue;
      }      
      100% {        
        color: orange;
      }
    }
