/*
Styles for competition website
*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  font-family: 'Raleway' !important;
}

p{
  font-family: 'Raleway' !important;
}

h1{
  font-family: 'Raleway' !important;
}

h2{
  font-family: 'Raleway' !important;
}

h3{
  font-family: 'Raleway' !important;
}
  
 /* unvisited link */
a:link {
    font-family: 'Raleway' !important;
}

/* visited link */
a:visited {
    font-family: 'Raleway' !important;
}

/* mouse over link */
a:hover {
    font-family: 'Raleway' !important;
}

/* selected link */
a:active {
    font-family: 'Raleway' !important;
} 

.blue{
background: #11345d !important;
}




