/*
Styles for competition website
*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  font-family: 'Raleway' !important;
}

p{
  font-family: 'Raleway' !important;
}

h1{
  font-family: 'Raleway' !important;
}

h2{
  font-family: 'Raleway' !important;
}

h3{
  font-family: 'Raleway' !important;
}
  
 /* unvisited link */
a:link {
    font-family: 'Raleway' !important;
  font-size: large;
}

/* visited link */
a:visited {
    font-family: 'Raleway' !important;
  font-size: large;
}

/* mouse over link */
a:hover {
    font-family: 'Raleway' !important;  
    text-decoration: underline !important;
  font-size: large;
}

/* selected link */
a:active {
    font-family: 'Raleway' !important;
  font-size: large;
} 

.blue{
background: #11345d !important;
}

.blueText{
  color: #11345d !important;
}

.whiteText{
  color: #fff;
}

.goldText{
  color: #b38f00;
}



