/*
Styles for competition website
*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  font-family: 'Raleway' !important;
}

p{
  font-family: 'Raleway' !important;
}

h1{
  font-family: 'Raleway' !important;
}

h2{
  font-family: 'Raleway' !important;
}

h3{
  font-family: 'Raleway' !important;
}
  
 /* unvisited link */
a:link {
    font-family: 'Raleway' !important;
  font-size: large !important;
}

/* visited link */
a:visited {
    font-family: 'Raleway' !important;
  font-size: large !important;
}

/* mouse over link */
a:hover {
    font-family: 'Raleway' !important;  
    text-decoration: underline !important;
  font-size: large !important;
}

/* selected link */
a:active {
    font-family: 'Raleway' !important;
  font-size: large !important;
} 

.blue{
 background: radial-gradient(circle, #000099, #006699, #003366) !important;
}

.blueText{
  color: #11345d !important;
}
.white{
  background-color: #fff;
}
.whiteText{
  color: #fff;
}

.goldText{
  color: #b38f00;
}

.lightGreen{
  background-color: #00bfaa;
}

.grey{
  background-color: #e6e6e6;
}

.greyText{
color: #808080 !important;
}

.darkBlue{
  background-color: #333344;
}

.marginTop{
  margin-top: 5%;
}


