/*
Styles for the dropdown menu
*/

.dropbtn {    
    background-color: inherit;
    color: inherit;
    padding: 16px;    
    font-size: large;
    border: none;
}

.dropdown {
    background-color: inherit;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: #fff;
    display: none;
    position: absolute;    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: #fff;
    color: inherit;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: inherit;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: inherit;}
