/*
Styles for news and publication images
*/

.imageFeed{
    float: left;
}

.imageFeedText{
    overflow: hidden;    
}

/*Hyperlink Styles*/
a.imageFeedText:link {font-size:150%;}
a.imageFeedText:visited {font-size:150%;}
a.imageFeedText:hover {font-size:150%;}


