/*
Styles for news and publication images
*/

.imageFeed{
    float: left;
}

.imageFeedText{
    overflow: hidden;
}

/*Hyperlink styles*/
a.greyTextLink:link {font-size: 200px;}
a.greyTextLink:visited {font-size: 200px;}
a.greyTextLink:hover {font-size: 200px;}
