/*
Styles for news and publication images
*/

.post-container {
    margin: 20px 20px 0 0;      
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}
