/*
Styles for news and publication images
*/

.post-container {  
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 500px;
}
.post-title {
    font-weight: bold;
    font-size: 200%
}
