/*
Styles for news and publication images
*/

.imageFeed{
    float: left;
}

.imageFeedText{
    overflow: hidden;    
}

/*Hyperlink Styles*/
a.imageFeedHead:link {font-size:120% !important;}
a.imageFeedHead:visited {font-size:120% !important;}
a.imageFeedHead:hover {font-size:120% !important;}


