/*
Nav bar color change styles
*/
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";
.navbar-fixed-top.scrolled {  
  background: rgba(11, 34, 55, .5) !important;
  transition: background-color 1000ms linear;
  color: #fff !important;  
}

