/*
Nav bar color change styles
*/
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";
.navbar-fixed-top.scrolled {
  background-color: #0099cc !important;
  transition: background-color 200ms linear;
  color: #white;
}
.navbar-fixed-top.scrolled .nav-link {
  color:#fff;
}
