/*
Nav bar color change styles
*/
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";
.navbar-fixed-top.scrolled {  
  background: #443DFF !important;
  transition: background-color 200ms linear;
  color: #A8FFC1 !important;  
}

.dropbtn.scrolled {  
  background: #443DFF !important;
  transition: background-color 200ms linear;
  color: #A8FFC1 !important;  
}

