/*
Styles for typewriter
*/

body {
  background-color:#808080;
  text-align: center;
  color:#808080;
  padding-top:10em;    
}


* { color:#808080; text-decoration: none; border-color:#808080;}


