/*
Styles for typewriter
*/

body {
  background-color:#808080;
  text-align: center;
  color:#808080;
  padding-top:10em;
  caret-color: #808080;
}

h1{
  caret-color: #808080;
}

* { color:#808080; text-decoration: none;}


