/*
Styles for typewriter
*/

body {
  background-color:#808080;
  text-align: center;
  color:#808080;
  padding-top:10em;  
}

h1{
  border-color: #808080;
}

* { color:#808080; text-decoration: none;}


